
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    @await Component.InvokeAsync("_HeadUILayoutViewComponentPartial")   
<body>

    @await Component.InvokeAsync("_NavUILayoutViewComponentPartial")
    @await Component.InvokeAsync("_MainCoverUILayoutViewComponentPartial")
    
    @RenderBody()  
   
    @await Component.InvokeAsync("_FooterUILayoutViewComponentPartial")
    @await Component.InvokeAsync("_ScriptsUILayoutViewComponentPartial")

   

</body>
</html>

